<section id="experience" class="experience-section">
  <!-- <h1 class="section-title">My Work Experience</h1> -->

  <!-- Indigo -->
  <!-- <div class="experience-card">
    <div class="timeline">2024 — Present</div>
    <div class="experience-info">
      <div class="role-title">Financial Advisor &#64; <a href="https://indigogroup.me/" target="_blank" class="hyperlink">Indigo Financial Analysis</a></div>  
      <div class="role-description"></div>
        <p>

       </p>

      <ul role="list" class="tech-list">
        <li>Independent Financial Advice</li>
        <li>Financial Planning</li>
        <li>Retirement Planning</li>
        <li>Life Insurance</li>
      </ul>
    </div>  
  </div> -->


  <!-- Castle Capital
  <div class="experience-card">
    <div class="timeline">2022 — Present</div>
    <div class="experience-info">
      <div class="role-title">Financial Planner &#64; <a href="https://www.ccfp.ie/" target="_blank" class="hyperlink">Castle Capital Financial Planning</a></div>
      <div class="role-description">
        <p>

       </p>

      </div>
      <ul role="list" class="tech-list">
        <li>Portfolio Management</li>
        <li>Financial Advisory</li>
        <li>Wealth Management</li>
      </ul>
    </div>  
  </div> -->

    <!-- Central Bank -->
    <!-- <div class="experience-card">
      <div class="timeline">Feb 2020 — Aug 2020</div>
      <div class="experience-info">
        <div class="role-title">Statistical Analyst &#64; <a href="https://www.centralbank.ie/" target="_blank" class="hyperlink">Central Bank of Ireland</a></div>
        <div class="role-description">
          <p>
            I worked on an internship programme as an associate analyst on the Payments Statistics team, in the money and banking section, in the Statistics division. 
            My main role was assisting my team members in the collection of data transactions from payment service providers in Ireland, perform statistical and data analysis on these payments,
            collating information and communicating results to the European Central Bank. 
         </p>
  
        </div>
        <ul role="list" class="tech-list">
          <li>Statistical Analysis</li>
          <li>Data Analysis</li>
        </ul>
      </div>  
    </div> -->


</section>
