<section class="about-section" id="about">
  <img
    ngSrc="/assets/about.jpeg"
    width="250"
    height="450"
    class="hero-image"
    ngSrcset="100w, 200w, 300w"
    alt="about image"
    priority
  />
  <div class="about-text">
    <h1 class="section-title">About me</h1>
    <p>
      As an Expert Financial Planner with <a href="https://indigogroup.me/" target="_blank" class="hyperlink">Indigo Financial Analysis</a>, my focus lies in creating comprehensive wealth management plans that cater to diverse client needs. 
    </p>

    <p>
      I have a solid foundation in finance holding a BSc. in Financial Mathematics from the 
      <span>
        <a href="https://www.ul.ie/" target="_blank" class="hyperlink"
          >University of Limerick
        </a>
      </span>. I hold qualifications including QFA, RPA, SIA, and FPRA, which have equipped me with the expertise to offer comprehensive financial planning, retirement advice, and strategic investment insights.
    </p>
    
    <p>
      I leverage my expertise in financial planning to deliver tailored financial solutions. My dedication to enhancing my qualifications underpins a deep commitment to client success and a mastery of financial planning that I continuously hone. 
      My competencies in financial planning are not just a profession, but a passion for empowering individuals and families to achieve their financial aspirations.
    </p>

  </div>
</section>
