<section id="projects" class="project-section">
  <h1 class="section-title">Services</h1>
  <div class="projects">
    @for (project of visibleProjects; track $index) {
    <!-- <a class="project-card" [href]="project.live" target="_blank">  You can use the href link here to link to an individual page for this service -->
    <a class="project-card">
      <div class="project-info">
        <div class="project-title">{{ project.title }}</div>
        <div class="project-description">
          {{ project.description }}
        </div>
      </div>
    </a>
    }
  </div>
  @if (projects.length>visibleProjects.length) {
  <div
    class="more"
    (click)="showMoreProjects()"
    (keypress)="showMoreProjects()"
    tabindex="0"
  >
    more...
  </div>
  }
</section>
