<section class="hero-section">
  <div class="hero-content">
    <h1 class="p1 animate" [ngClass]="{ 'fade-up': isLoading() }">
      Hi, my name is
    </h1>
    <span class="name-holder">
      <!-- <h1 class="gradient t1 animate" [ngClass]="{ 'fade-up': isLoading() }"> -->
      <h1 class="title animate" [ngClass]="{ 'fade-up': isLoading() }">
        Colum
      </h1>
      <h1 class="title animate" [ngClass]="{ 'fade-up': isLoading() }">
        Carroll.
      </h1>
    </span>
    <p class="title-statement animate" [ngClass]="{ 'fade-up': isLoading() }">
      I am an expert financial planner currently working at 
      <a href="https://indigogroup.me/" target="_blank">Indigo Financial Analysis</a>. 
      My focus lies in helping you achieve your financial goals and secure your future.
    </p>

    <!-- This is for the social media buttons -->
    <app-social-links
      class="social-media-links animate"
      [ngClass]="{ 'fade-up': isLoading() }"
    ></app-social-links>
  </div>

  <!-- This is the image spec -->
  <div class="hero-image-holder animate" [ngClass]="{ 'fade-up': isLoading() }">
    <img
      ngSrc="/assets/hero_image.jpeg"
      width="250"
      height="250"
      class="hero-image"
      ngSrcset="100w, 200w, 300w"
      alt="hero image"
      priority
    />
  </div>
</section>
